{% extends 'base.html' %}

{% block headersection %}

<section class="header-container">
  <img class="profile-image" src="{{ url_for('static', filename='assets/DP.jpg') }}" alt="" />
  <h1>Hey Visitor! I'm Parthib Karak</h1>

  <div class="content-text">
    <h2>Python Backend Developer</h2>
    <p>
      Expertise in Python, C, C++, Java, Kotlin, Flask, RESTful APIs and Machine Learning
    </p>
  </div>
  <a href="{{ url_for('contact_page') }}" class="btn btn-secondary">Connect With Me</a>
</section>
{% endblock %}

{% block body %}
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Skills</h2>
    <div class="scroll-container">
      <table style="text-align: center;">
        <tr>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg">
              <h4>Python</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd9Hm6YzVDnc31jkaaU3Wej-CaUeWXD4ljOw&s"
              alt="C" width="55" height="55">
              <h4>C</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg"
              alt="C++" width="55" height="55">
              <h4>C++</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://th.bing.com/th/id/OIP.jjYyn_OvqF3VPfTrWelPhAHaD4?rs=1&pid=ImgDetMain"
              alt="Kotlin" width="100" height="100">
              <h4>Kotlin</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3S9FqOWEjqGZPQ98L55jzxu9OXbJqwXx_Gw&s"
              alt="Java" width="55" height="55">
              <h4>Java</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img class="github-icon" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Framework/flask.svg"
              alt="Flask" width="50" height="50">
              <h4>Flask</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 15px;">
              <img src="https://cdn.worldvectorlogo.com/logos/django.svg"
              alt="Django" width="50" height="50">
              <h4>Django</h4>
            </div>
          </td>
          
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/mysqlworkbench.svg"
              alt="MySQL" width="55" height="55">
              <h4>MySQL</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://d3lkc3n5th01x7.cloudfront.net/wp-content/uploads/2023/11/07002655/Machine-Learning-Services-banner.png"
              alt="Machine Learning" width="80" height="80">
              <h4>Machine Learning</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKm687vjaF2pTwtiRSJcOgRLuo8Ck9fg5JGA&s"
              alt="Deep Learning" width="55" height="55">
              <h4>Deep Learning</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLkaf7w-TDcGhd4fbtjVTYTo6W8t1T_L6KfA&s"
              alt="Gen AI" width="55" height="55">
              <h4>Gen AI</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdkOmnl8E3pqAXPlC50KzEHpu6plXsEQ6ZHA&s"
              alt="NLP" width="55" height="55">
              <h4>NLP</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://img-c.udemycdn.com/course/750x422/1533864_a443.jpg"
              alt="Computer Vision" width="55" height="55">
              <h4>Computer Vision</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Devops/aws.svg"
              alt="AWS" width="55" height="55">
              <h4>AWS</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Devops/gcp.svg"
              alt="GCP" width="55" height="55">
              <h4>GCP</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/BaaS/heroku.svg"
              alt="Heroku" width="55" height="55">
              <h4>Heroku</h4>
            </div>
          </td>
          
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Devops/docker.svg"
              alt="docker" width="55" height="55">
              <h4>Docker</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img class="github-icon"  src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Devops/bash.svg"
              alt="bash" width="55" height="55">
              <h4>Bash</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.svg"
              alt="git" width="55" height="55">
              <h4>Git</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img class="github-icon" src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
              alt="GitHub" width="55" height="55">
              <h4>GitHub</h4>
            </div>
          </td>
          
        </tr>
      </table>
    </div>
    <div class="arrow-container">
    </div>
  </div>
</section>


<!-- Projects -->
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Popular Project</h2>
    <p>Check out some of my projects</p>
  </div>

  <div class="container">
    <div class="textcard">
      <table>
        <tr>
          <td>
            <div class="container">
              <h3>Voice Assistant</h3>
              <p style="text-align: justify;">
                Voice assistant using Python. This assistant can understand and respond to user's voice commands.
                It uses the Google Assistant API and SpeechRecognition library to convert voice commands into text and understand the user's intent.
                This assistant can be trained to answer questions, perform basic tasks, and provide real-time weather updates.
              </p>
            </div>
          </td>
          <td>
            <div class="container">
              <h3>AI based healthCare Chatbot</h3>
              <p style="text-align: justify;">
                AI-powered chatbot for healthcare. This chatbot can answer medical questions, provide real-time health updates, and recommend appropriate treatment options.<br>
                It uses natural language processing techniques, machine learning algorithms, and a database of medical knowledge to provide accurate and relevant information.
              </p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <a href="{{url_for('projects_page')}}" class="btn btn-secondary">See More <i class="fas fa-arrow-right"></i></a>
</section>
{% endblock %}